@font-face {
  src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  src: url('../assets/fonts/Inter-Medium.ttf');
}

.root {
  -main: #F35416;
  -orange: #F18524;
  -white: #FFFFFF;
  -text: #555555;
  -title: #333333;
  -border: rgba(84, 84, 84, 0.5);
}

#addJobContainer {
  -fx-min-height: 413px;
  -fx-min-width: 650px;
  -fx-background-color: -white;
}
#addJobContent {
  -fx-min-height: 674px;
  -fx-min-width: 750px;
  -fx-background-color: -white;
  -fx-border-radius: 25px;
  -fx-background-radius: 25px;
  -fx-effect: dropshadow(three-pass-box, -border, 10, 0, 0, 0);
}