@font-face {
  src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  src: url('../assets/fonts/Inter-Medium.ttf');
}

.root {
  -main: #F35416;
  -orange: #F18524;
  -white: #FFFFFF;
  -text: #555555;
  -title: #333333;
  -border: rgba(84, 84, 84, 0.5);
}

#addJobContainer {
  -fx-padding: 0;
  -fx-min-height: 100%;
  -fx-min-width: 100%;
}

#addJobContent {
  -fx-min-height: 474px;
  -fx-min-width: 550px;
  -fx-background-color: -text;
}